{{template "base" .}} {{define "title"}}{{if .Title}}{{.Title}} —
Leroy Blog{{else}}Leroy Blog{{end}}{{end}} {{define "content"}}
<article class="dark:prose-invert">
	<header>
		<h1 class="text-4xl font-bold">{{ .Title }}</h1>
		<p class="text-sm text-gray-500">
			Authored by
			<a
				href="mailto:{{ .Author.Email }}"
				class="text-blue-500 hover:underline"
			>
				{{ .Author.Name }}
			</a>
			on {{ .Date }}
		</p>
	</header>
	<section class="prose lg:prose-xl mt-8">{{ .Content }}</section>
</article>
{{end}}
